<h1> Welcome to The Coziest Cottage! </h1>
<p> Our mission is to help those whom are developementally ill recieve the care and love they deserve!</p>
<%= link_to :login, login_path%>
<%= link_to :signup, signup_path%>
<%= button_to "Log In With Google", '/auth/google_oauth2' %>