<div class="jumbotron text-center">
    
<h1> New Client </h1>

</div>

<%= render partial: "layouts/errors", locals: {object: @client} %>

<%= render partial: "clients", locals: {clients: @clients} %>