<div class="jumbotron">
    <div class="container">
    <h1> All Appointments </h1>
    </div>
</div>
    
    <% @appointments.each do |t| %>
    <li><a href="/appointments/<%= t.id %>"><%= t.title %><br><%= t.completed %></a></li> 
    <% end %>