<h1> All Appoinments </h1>

            <ul>
            <% @appointments.each do |t| %>
            <li><a href="/appointments/<%= t.id %>"><%=t.title%><br><%= t.content %><br><%= t.completed %></a></li> 
            <% end %>