<div class="jumbotron text-center">

<br>
<% if @appointment.client %>
<h1> New Appointment For <%= @appointment.client.name %>:</h1>
<% else %>
<h1> New Appointment </h1>
<% end %>
</div>
<%= render partial: "layouts/errors", locals: {object: @appointment} %>

<%= render partial: "appointments", locals: {appointments: @appointments} %>