<div class="jumbotron">
    <div class="container">
<h1> All Tiers </h1>
<p> Select a client or tier to view more information.</p>
    </div>
</div>

    <div class="jumbotron1">
    <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
    <% category.clients.each do |client| %>
    <ol><%= link_to client.name, client_path(client) %></ol>
    <% end %>
    <% end %>
