<div class="jumbotron text-center">
<h1><%="Tier " + @category.name %> - <%= pluralize(@category.clients.count, "clients")%></h1>

</div>

    <% @category.clients.each do |client| %>
    <li><%= link_to client.name, client_path(client) %></li>
    <% end %>